@import '../../global.scss';

.post__content {
    display: flex;
    // position: relative;
    padding: 40px 100px;


    .content__main {
        width: 75%;

        .item {
            display: flex;
            position: relative;
            border-bottom: 1px solid #ccc;
            padding: 1rem;
            align-items: center;

            &__avatar {
                transform: scale(2);
                cursor: pointer;
            }

            &__content {
                margin: 0 20px;

                &--header {
                    display: flex;
                    align-items: center;

                    .header__name {
                        cursor: pointer;
                        margin: 0px 5px;
                    }

                    .header__time {
                        margin: 0 5px;
                        border: 1px solid #ccc;
                        padding: 5px;
                        border-radius: 5px;
                    }

                    .header__link {
                        display: flex;
                        align-items: center;
                        cursor: pointer;


                        &:active,
                        &:focus,
                        &:hover {
                            .MuiSvgIcon-root {
                                color: #5488c7;
                            }
                        }
                    }

                    .displayName {
                        cursor: pointer;
                        color: #5488c7;

                        &:hover {
                            text-decoration: underline;
                        }
                    }


                }



                &--info {
                    margin: 0px 5px;
                    display: flex;
                    align-items: center;

                    .info__title {
                        cursor: pointer;
                        font-size: 24px;
                        margin-right: 10px;

                        &:hover {
                            color: $mainColor;
                        }
                    }

                    .info__theme {
                        display: flex;

                        &--item {
                            cursor: pointer;

                            padding: 2px 4px;
                            background-color: #EAEAEA;
                            color: #555;
                            margin: 0 5px;
                            border: 1px solid #ccc;
                        }
                    }

                }

                &--interactive {
                    display: flex;
                    align-items: center;

                    .interactive__info {
                        display: flex;
                        align-items: center;

                        &>* {
                            margin: 5px;
                        }

                        .info__item {
                            display: flex;
                            align-items: center;

                            .MuiSvgIcon-root {
                                width: 20px;
                                height: 20px;
                                color: rgb(151, 151, 151);
                            }

                            span {
                                color: rgb(151, 151, 151);
                            }

                            .checkRespect {
                                color: green;
                            }
                        }
                    }

                    .interactive__comment {
                        display: flex;
                        align-items: center;

                        &>* {
                            margin: 5px;
                        }

                        .MuiAvatar-root {
                            width: 30px;
                            height: 30px;

                        }
                    }
                }
            }

            &__point {
                width: 30px;
                display: flex;
                align-items: center;
                position: absolute;
                bottom: 0;
                right: 0;

                p {
                    width: 100%;
                    text-align: center;
                    color: rgb(151, 151, 151);
                }

                .carets {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    bottom: 20%;
                    left: -50%;

                    .MuiSvgIcon-root {
                        color: rgb(151, 151, 151);
                    }

                    .up {
                        position: absolute;
                        bottom: 25%;
                        left: 0%;
                    }

                    .down {
                        position: absolute;
                        bottom: 0%;
                        left: 0;
                    }

                }

                p {
                    margin-bottom: 10px;
                }


            }
        }


    }



    .content__right {
        width: 25%;
        height: 100%;
        position: -webkit-sticky;
        position: sticky;
        // right: 0;
        overflow-x: hidden;
        top: 75px;
        overflow-y: auto;
        max-height: calc(100vh - 100px);

        &::-webkit-scrollbar {
            width: 5px;

        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
            border-radius: 8px;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 8px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

        .content__first {
            width: 100%;


            .title {
                position: relative;
                width: 100%;
                cursor: pointer;
                font-size: 20px;
                padding-left: 5px;

                &::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    right: -110%;
                    bottom: 0;
                    background-color: #ccc;
                }
            }

            .content__list {
                padding-left: 5px !important;
                list-style: none;

                h3 {
                    font-size: 16px;
                    color: rgb(151, 151, 151);
                }

                li.content__item {
                    border-bottom: 1px solid #ccc;

                    .item__interacion {
                        display: flex;


                        .MuiSvgIcon-root {
                            color: rgb(151, 151, 151);
                        }

                        .iteraction__vote {
                            position: relative;
                            width: 30px;
                            align-items: center;
                            margin-right: 5px;

                            .up {
                                position: absolute;
                                left: 0;
                                bottom: 20%;
                            }

                            .down {
                                position: absolute;
                                left: 0;
                                bottom: -10%;
                            }

                            span {
                                position: absolute;
                                right: 0;
                                top: 10%;
                            }
                        }

                        .interaction__share,
                        .interaction__view,
                        .interaction__comment {
                            display: flex;
                            align-items: center;
                            margin: 0 5px;
                        }
                    }

                    h3 {
                        font-size: 20px;
                        margin-bottom: 0;
                    }

                    .item__personName {
                        color: #5488c7;
                    }
                }

            }
        }
    }


}

.popup__info {
    background-color: #fff;
    box-shadow: 0px 5px 20px rgba(0, 52, 255, 0.2);

    &:hover {
        background-color: #fff;
    }

    min-width: 400px !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .header {
        display: flex;
        width: 100%;
        padding: 1rem;

        &__logo {
            cursor: pointer;
            transform: scale(2.5);
            margin-top: 1.2rem;
            margin-left: 1.2rem;
            // width: 80px;
            // height: 80px;
        }

        &__info {
            margin-left: 40px;

            &--name {
                cursor: pointer;
                color: #5488c7;

                &:hover {
                    text-decoration: underline;
                }
            }

            &--icon {
                display: flex;
                align-items: center;

                .icon__item {
                    display: flex;
                    align-items: center;
                    margin: 10px;
                }
            }
        }
    }

    .follow {
        border-top: 1px solid #ccc;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 1rem;

        .follow__button {
            border: 2px solid #5488c7;
            border-radius: 5px;
            color: #5488c7;

            &.followed {
                background-color: #5488c7;
                color: #fff;
            }
        }

    }
}